extends layout.pug

block content 
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
  article.grid-container.portfolio-intro.portfolio-project
    .grid-x
      .cell.small-6.medium-9.large-9

        //- Add your name.
        h1 Indasia Summerfield

        //- Feel free personalize the title below
        p.lead.text-light
          | Full Stack JavaScript Student

        //- Replace the boilerplate below with your Elevator pitch below.
        .portfolio-bio
          p
            | Hey there, my name is Indasia and this is my portfolio. I am passionate about making the internet as interesting, appealing, and informative as possible. 
            | I have always been interested in technology and design because it allows you to use beauty and brains and share what you create with the world.
            | As a mom, I have become great in finding solutions and multitasking regardless of the challenges that come my way.
      .cell.portfolio-meta.small-6.medium-2.large-3
        h6 Skills

        //- Replace the text in the li tags below with your own skills.  At this point, you should be able to list at least ten skills.
        ul
          li HTML | CSS
          li Full-Stack JavaScript
          li jQuery
          li Express
          li Ajax
          li JSON 

        h6 Contact Info

        //- Add your own contact info
        ul
          li 971.275.3243
          li Indasia@yahoo.com

        //- Add URLs to the hrefs below to link to your social media accounts.
        a.button.expanded(href='https://www.linkedin.com/in/indasia-summerfield/') LinkedIn
        a.button.expanded(href='https://github.com/Indasia') GitHub
        a.button.expanded(href='https://twitter.com/Indasia') Twitter
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
  